


* {
    box-sizing: border-box;
    list-style: none;
}

html {}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    padding-top: 52px;
    padding-bottom: 23px;
    background: url('../images/bground.jpg') no-repeat;
    color: white;
}

.header__top {
    display: flex;
}

.logo span {
    font-family: 'MuseoSansCyrl 100';
    font-size: 17px;
    font-weight: 100;
}

.logo {
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl 900';
    font-size: 17px;
    font-weight: 900;

}

.menu__list {
    display: flex;
    margin-left: 177px;
    color: white;
    list-style: none;
}

.menu__link {
    margin-right: 45px;
    font-family: 'MuseoSansCyrl 900';
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.link__mail {
    border-bottom: solid 1px;
    color: white;
    font-family: 'MuseoSansCyrl 300';
    font-size: 13px;
    font-weight: 300;
    margin-left: 0 auto;
}

.header__block {
    text-align: center;
}

.header__title {
    display: block;
    max-width: 713px;
    height: 94px;
    font-family: 'Natasha';
    font-size: 49px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    margin: 0 auto;

    color: #ffffff;
    margin-top: 300px;
}

.header__text {
    font-family: 'MuseoSansCyrl 100';
    font-size: 29px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 264px;
}

.arowdbottom {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 4px 14px;
    margin: 0 auto;
    font-size: 18px;
}

.arowdbottom:hover {
    background: #fff;
    color: #000;
    transform: scale(1.2, 1.2);
}


.about {
    padding-top: 87px;
    padding-bottom: 97px;
    display: flex;
    justify-content: s;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__background {
    max-width: 460px;
}

.about__title {
    font-family: 'Natasha';
    font-size: 37px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    color: #22241b;
    margin-bottom: 78px;
}

.info {}

.info-title {

    font-family: 'Natasha';
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    color: rgba(34, 36, 27, 0.66);
    margin-bottom: 47px;
}

.background__text {

    font-family: 'MuseoSansCyrl 300';
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;

    color: #22241b;

}

.merit {
    display: flex;
    justify-content: space-between;
}

.merit__item {
    text-align: center;



}

.merit__item-big {
    width: 80px;
    height: 80px;
    border: solid 1px #204d15;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    padding-top: 7px;
    padding-left: 7px;
}


.merit__item-small {
    width: 63px;
    height: 63px;
    border: solid 1px #c6d6bb;

    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(90deg);

}

.merit__number {
    display: block;
    padding: 20px;
    transform: rotate(-45deg);
    font-family: 'MuseoSansCyrl 100';
    font-size: 20px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    color: #204d15;
}

.merit__text {

    margin-top: 24px;
    font-family: 'MuseoSansCyrl 100';
    font-size: 12px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #22241b;
    text-transform: uppercase;
}

.contact__block {
    display: flex;
    justify-content: space-between;
}

.links__item a {

    font-family: 'MuseoSansCyrl 300';
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: #204d15;
    border-bottom: 1px solid #c6d6bb;
    margin-bottom: 16px;
    letter-spacing: 1.68;
}

.profile {

    width: 64px;
    height: 64px;
    opacity: 0.08;
    border-radius: 50%;
    background-color: #204d15;
    display: flex;
    justify-content: space-between;


}

.profile__text {

}

.icon-User {
    color: #204d15;
}

.profile__text {

    width: 165px;

    font-family: 'MuseoSansCyrl 300';
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: rgba(34, 36, 27, 0.72);

}

.skills {
    padding-top: 97px;
    padding-bottom: 83px;
}

.skills__title,
.works__title {

    width: 164px;

    font-family: 'Natasha';
    font-size: 37px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-bottom: 68px;



    color: #22241b;

}

.skills__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__item-big {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: solid 1px #204d15;
    padding: 5px;


}

.skills__item-small {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: solid 1px #c6d6bb;
}

.skills__number {
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 10px;
    font-family: 'MuseoSansCyrl 100';
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.23;
    letter-spacing: 1.56px;
    text-align: center;
    color: #204d15;
}

.skills__text {


    font-family: 'MuseoSansCyrl 900';
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.8px;
    color: rgba(34, 36, 27, 0.89);
    text-transform: uppercase;

}

.works__inner {
    display: flex;
    justify-content: space-between;
}

.works__item_img {
    width: 250px;
    height: 250px;
}

.works__overlay_title {
    height: 11px;
    font-family: 'MuseoSansCyrl 900';
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.works__overlay_text {

    font-family: 'MuseoSansCyrl 300';
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;

}

.works__item {
    position: relative;
    z-index: -2;
}

.works__overlay {

    background: rgba(0, 0, 0, 0.64);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.works__item_img:hover .works__overlay {
    opacity: 1;
}

.works__overlay_text {
    font-family: 'MuseoSansCyrl 300';
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.23;
    letter-spacing: 0.26px;
    text-align: center;
    color: #ffffff;

}

.footer {
    padding-top: 125px;
    padding-bottom: 110px;
}

.footer__text {
    opacity: 0.66;
    font-family: 'MuseoSansCyrl 300';
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: rgba(34, 36, 27, 0.66);
    text-transform: uppercase;
}



/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 992;
    }

    .menu {
        height: 0;
        overflow: hidden;
    }

    .header__title {
        max-width: 713px;
        height: 0;
    }

    .skills__list {
        display: flex;
        flex-flow: row-reverse wrap-reverse;
    }

    .works__inner {
        display: flex;
        flex-direction: column;
    }

    .footer__text {
        text-align: center;
    }
}

/* 768-992px */
@media screen and (max-width: 992px) {
    .container {
        width: 700px;
    }

    .header__top {
        display: block;
        display: flex;
        justify-content: center;
    }

    .header__title {
        text-align: center;
        margin-top: 49px;

        margin-bottom: 100px;
    }




    .menu__list {
        display: none;
    }

    .about__inner {
        display: block;
        justify-content: column;
    }

    .skills__list {
        display: block;
        justify-content: column;
    }


}

/* 576-768px */
@media screen and (max-width: 768px) {
    .container {
        width: 520px;
    }

    .rthhh {
        dherhrth;
    }

}

/* 320-576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

}